# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.
#
SHELL=/bin/bash
PATH=/nix/var/nix/profiles/per-user/guild/profile/bin:/nix/var/nix/profiles/per-user/guild/profile/sbin:/opt/cardano/cnode/scripts:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/sbin:/usr/local/bin \
#
# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
#17 *    * * *   root    cd / && run-parts --report /etc/cron.hourly
#25 6    * * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
#47 6    * * 7   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
#52 6    1 * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
MAILTO=""
#
#== WEKKLY ===
#--: At 00:10 on Monday
10 0 * * 1    sudo apt-get update -y
#--: At 00:20 on Monday
20 0 * * 1   sudo apt-get upgrade -y
#--: At 00:30 on Monday
30 0 * * 1   sudo apt autoremove
#--: At 00:40 on Monday
40 0 * * 1   sudo apt-get clean
50 0 * * 1   sudo sh -c "truncate -s 0 /var/lib/docker/containers/*/*-json.log"
#
#=== REBOOT ===#
#@reboot sleep 5 && sudo ~/.scripts/reboot_cli.sh
#@reboot ~/.scripts/start_all.sh
#--: Delete iptables on startup
@reboot sleep 15 && sudo /sbin/iptables -F
#
#=== DAILY ===
22 5 * * *   ~/.scripts/cleanCaches.sh
11 5 * * *   ~/.scripts/clearlogs.sh
#=== HOURLY ===
#5 * * * *   /opt/cardano/cnode/scripts/topologyUpdater.sh
#10 * * * *   /opt/cardano/cnode/scripts/poolstatsUpdater.sh
#=== EVERY MINUTES ===
#*/130 * * * * find /opt/cardano/cnode/logs/  -name "*.json" -type f -mtime +0 -type f -delete
*/35 * * * * history -c
#*/55 * * * *   ~/.scripts/memory_alert.sh
#*/20 * * * *   ~/.scripts/peerIN_check.sh
#
#5 * * * *   ~/.scripts/.scripts/downG.sh
#5 * * * *   ~/.scripts/.scripts/start_all.sh
#5 * * * *   ~/.scripts/.scripts/stop_all.sh
#
#=== EVERY HOURS ===
#--:Every 24th hour :At minute 10: Delete all iptable rule chain
#10 */24 * * * sudo /sbin/iptables -F
#
# Empty
